* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 5px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  /* text-align: center; */
  background-color: #f1f1f1;
}

.innercard {
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); */
  padding: 4px;
  background-color: #d7d4d4;
  margin: -10px auto;
  font-size:0.7em;

}

.main {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  color: #333;
}


#map{
  width: 100%;
  height: 20vh;
}

.buttonToLink {
  background: none;
  border: none;
  color: blue
}

.buttonToLink:hover {
  background: none;
  text-decoration: underline;
}